<div class="max-height">
  <div fxLayout="row" fxLayout.sm="column" fxFlexFill fxLayoutAlign="center center">
    <mat-card appearance="outlined" class="login-card">
      <mat-card-header>
        <mat-card-title>로그인</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field appearance="outline">
            <mat-label>아이디</mat-label>
            <input matInput type="text"/>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>비밀번호</mat-label>
            <input matInput type="password"/>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8" class="full-width">
          <button mat-flat-button color="primary" class="full-width">로그인</button>
          <button mat-flat-button color="secondary" class="full-width" routerLink="signup">회원가입</button>
          <button mat-flat-button color="yellow" class="full-width">카카오 계정 연동</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
