<!-- src/main/resources/templates/product/list.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">
<head>
    <title>Product List</title>
</head>
<body>
<section layout:fragment="contentFragment" class="mx-auto w-full">
    <div th:replace="~{common/fragments/title :: titleFragment(title=${'상품 관리'})}"></div>

    <!-- 버튼을 우측에 정렬 -->
    <div class="flex justify-end items-center mt-4 mb-3">
        <button class="btn-white px-4 py-2">상품 등록</button>
    </div>

    <div class="bg-white rounded-lg">
        <!-- 테이블 -->
        <table class="w-full">
            <thead class="table-header">
            <tr>
                <th class="table-cell w-1/12 text-center">번호</th>
                <th class="table-cell w-2/12 text-center">이름</th>
                <!--                <th class="table-cell w-5/12 text-center">설명</th>-->
                <!--                <th class="table-cell w-2/12 text-center">등록일</th>-->
                <th class="table-cell w-2/12 text-center">수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category, loop: ${paging.content}" class="table-row">
                <td class="table-cell w-1/12 text-center" th:text="${loop.index + 1}"></td>
                <td class="table-cell w-2/12 text-center" th:text="${category.categoryName}"></td>
                <!--                <td class="table-cell w-5/12 text-center" th:text="${category.description}"></td>-->
                <!--                <td class="table-cell w-2/12 text-center" th:text="${#dates.format(category.registerDate, 'yyyy.MM.dd')}"></td>-->
                <td class="table-cell w-2/12 text-center">
                    <button class="btn-gray px-5">수정</button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <div th:replace="~{common/fragments/table-paging :: pagingFragment(pageLink='/categories?page=', paging=${paging})}">
        </div>

    </div>

</section>
</body>
</html>
