<!-- src/main/resources/templates/common/layouts/layout.html -->
<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ShoppingMall</title>

</head>
<body>
<div th:replace="~{common/fragments/config :: config}"></div>
<!-- 공통 헤더 부분 -->
<div th:replace="~{common/fragments/header :: header}"></div>

<!-- 페이지별 콘텐츠를 삽입할 부분 -->
<div layout:fragment="content"></div> <!-- 여기에 페이지별 콘텐츠가 들어갑니다 -->

</body>
</html>
