<!-- src/main/resources/templates/product/list.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">
<body>
<section layout:fragment="contentFragment" class="mx-auto w-full">
    <!-- 타이틀을 삽입 -->
    <div th:replace="~{common/fragments/title :: titleFragment(title=${'카테고리 관리'})}"></div>

    <!-- 버튼을 우측에 정렬 -->
    <div class="flex justify-end items-center mt-4 mb-3">
        <button class="btn-white px-4 py-2" id="createCategoryModal">카테고리 추가</button>
    </div>

    <div class="bg-white rounded-lg">
        <!-- 테이블 -->
        <table class="w-full">
            <thead class="table-header">
            <tr>
                <th class="table-cell w-20 text-center">번호</th>
                <th class="table-cell w-8/12 text-center">이름</th>
                <th class="table-cell text-center">수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category, loop: ${paging.content}" class="table-row">
                <td class="table-cell w-20 text-center" th:text="${loop.index + 1}"></td>
                <td class="table-cell w-8/12 text-center" th:text="${category.categoryName}"></td>
                <td class="table-cell text-center">
                    <button class="btn-gray px-5">수정</button>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <div th:replace="~{common/fragments/table-paging :: pagingFragment(pageLink='/categories?page=', paging=${paging})}">
        </div>

    </div>

    <!--  모달 영역  -->
    <div id="modal-area"></div>
    <script type="text/javascript"  th:src="@{/js/category/category.js}"></script>
</section>
</body>
</html>
